

p:nth-child(even) {
  font-weight: bold;
}

ul li{
  font-size: 110%;
  background-color: yellow;
  padding: 7px;
}


ul li:nth-child(1) {
  background-image: url(external-link.png);
  background-repeat: no-repeat;
  background-position:22em;
}


ul li:nth-child(2) {
  background-image: url(external-link.png);
  background-repeat: no-repeat;
  background-position:9em;
}

ul li:nth-child(3) {
  background-image: url(pdf-link.png);
  background-repeat: no-repeat;
  background-position:26em;
  background-size: 4%;
}

ul li:nth-child(4) {
  background-image: url(zip-link.png);
  background-repeat: no-repeat;
  background-position:36.5em;
  background-size: 4%;
}

ul li:nth-child(5) {
  background-image: url(external-link.png);
  background-repeat: no-repeat;
  background-position:9em;
}

